<!doctype html>
<html lang="pt-BR">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} .:|:. Ver Para Crer</title>
    <link rel="stylesheet" href="style.css">
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    Ver para crer por <a href="https://github.com/vsmoreira?tab=followers">vsmoreira</a>.<br>
                    Código fonte licenciado por <a href="https://opensource.org/license/gpl-3-0/">GPL 3</a>
                </div>
                <div class="column is-6">Contribua no <a href="https://github.com/vsmoreira/ver-para-crer">GitHub</a></div>
            </div>
        </div>
    </footer>
</body>
</html>