{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    {% if not submitted %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script lang="javascript">
        function carregar_exemplo(maximizar, funcao, restricoes){
            document.forms[0].objetivo[0].checked = maximizar;
            document.forms[0].objetivo[1].checked = !maximizar;
            document.forms[0].primal.value = funcao;
            document.forms[0].constraints.value = restricoes;
        }
        window.addEventListener('load', () => {
            const $recaptcha = document.querySelector('#g-recaptcha-response');
            if ($recaptcha) {
                $recaptcha.setAttribute('required', 'required');
            }
        })
    </script>
    {% endif %}
{% endblock %}
{% block content %}
    {% if not submitted %}
    <h1 class="title">Eu tenho um problema!</h1>
    <p class="subtitle">Descreva a seguir o seu Problema de Programação Linear (PPL), 
        com 2 variáveis de decisão, bem como as restrições que as limitam e clique no botão 
        <strong>Ver para crer!</strong> para ver a solução ideal, caso ela exista.
    </p>
    <form action="/" method="post" class="column is-6">
        <div class="field">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="objetivo" value="MAX" required> Maximizar
                </label>
                <label class="radio">
                    <input type="radio" name="objetivo" value="MIN" required> Minimizar
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label" for="primal">Função objetivo:</label>
            <div class="control"><input class="input" type="text" name="primal" id="primal" placeholder="Z=ax1+bx2" required></div>
        </div>
        <div class="field">
            <label class="label" for="constraints">Sujeito a:</label>
            <div class="control">
                <textarea class="textarea" name="constraints" id="" cols="30" rows="10" 
                placeholder="Uma restrição por linha. Ex. 8x1 + 6x2 >= 48" required></textarea>
            </div>
        </div>
        <div>Tal que: x<sub>1</sub>, x<sub>2</sub> &GreaterEqual; 0</div>
        <div class="notification"> Você pode testar a aplicação carregando um dos <strong>exemplos</strong> a seguir: 
            <a href="javascript:carregar_exemplo(false,'Z = 0,06x1 + 0,08x2','8x1 + 6x2 >= 48\nx1 + 2x2 >= 12\nx1 + 2x2 <= 20')">Exemplo 1</a>, 
            <a href="javascript:carregar_exemplo(true,'Z = 60x1 + 30x2','6x1 + 8x2 <= 48\nx1 <= 6\nx2 <= 4')">Exemplo 2</a>
        </div>
        <div class="g-recaptcha" data-sitekey="{{config.RECAPTCHA_PUBLIC_KEY}}"></div>
        {% if erro_recaptcha %}
        <p class="help is-danger">Você deve responder ao desafio.</p>
        {% endif %}
        <div>
            <button class="button is-primary" type="submit">Ver para crer!</button> 
            <button class="button is-primary is-light" type="reset">Limpar</button>
        </div>
    </form>
    {% else %}
    <div class="content">
        <h1 class="title">Essa é a solução!</h1>
        <dl>
            <dt>{{solucao.objetivo | title}}</dt>
            <dd>Z = {{solucao.funcao_objetivo[0]}}x<sub>1</sub> + {{solucao.funcao_objetivo[1]}}x<sub>2</sub></dd>
            <dt>Sujeito a</dt>
            {% for r in solucao.restricoes %}
                <dd>{{r.a}}x<sub>1</sub> + {{r.b}}x<sub>2</sub> {{r.sinal_grafico | sinaliza | safe}} {{r.c}}</dd>
            {% endfor %}
            <dt>Tal que</dt>
            <dd>x<sub>1</sub>,x<sub>2</sub> &ge; 0</dd>
        </dl>
        <dl>
            <dt>Solução ótima</dt>
            <dd>{{solucao.solucao_otima}}</dd>
            <dt>Valor ótimo</dt>
            <dd>Z<sup>*</sup> = {{solucao.valor_otimo}}</dd>
            <dt>Vértices</dt>
            {% for v in solucao.vertices %}
                <dd>Z{{v}} = {{solucao.valores_vertices[loop.index-1]}}</dd>
            {% endfor %}
        </dl>
    </div>
    <img src="data:image/png;base64,{{solucao.grafico}}" alt="Solução gráfica" />

    <div>
       <a class="button is-primary is-light" href="{{url_for('ver_para_crer_get')}}">Voltar</a>
    </div>
    {% endif %}    
{% endblock %}
